<h1>Weight Entries</h1>

<table>
  <tr>
    <th>Weight(pounds)</th>
    <th>Date</th>
  </tr>
  <% @weight_points.each do |data| %>
  <tr>
    <td><%= to_pounds(data.weight) %></td>
    <td><%= data.created_at %></td>
  </tr>
  <% end %>
</table>

<%= button_to 'Back to Dashboard', dashboard_path, method: :get %>