<h1>Weight Entries</h1>

<table>
  <tr>
    <th>Weight(pounds)</th>
    <th>Date</th>
  </tr>
  <% @weight_points.each do |data| %>
  <tr class="grab_me">
    <td class="weight"><%= to_pounds(data.weight) %></td>
    <td class="date"><%= data.created_at.strftime('%b %d, %Y') %></td>
    <td><%= link_to 'Delete', data, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>

<%= button_to 'Back to Dashboard', dashboard_path, method: :get %>

<!-- <div class="ct-chart ct-double-octave"></div> -->