<h1>Search Food</h1>

<div>
<%= text_field_tag 'food_name' %>
<%= submit_tag 'Search', {class: 'search'} %>
<%= button_to 'Back', dashboard_path, method: :get %>
</div>
<div id="food_container">
  
</div>