<h1>Search Food</h1>

<div>
<%= text_field_tag 'food_name' %>
<%= submit_tag 'Search', {class: 'search'} %>
<%= button_to 'Back', dashboard_path, method: :get %>
</div>
<div id="food_container">
  
</div>
<div id="myModal" class="modal">
  <div class="modal-content">
  <div class="modal-header">
    <span class="close">×</span>
    <h2></h2>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <h3>Modal Footer</h3>
  </div>
</div>
</div>