<h1>Dashboard</h1>

<h4>Placeholder for Weight Info</h4>
<%= button_to 'New Weight Point', weight_point_path, method: :get %>
<br>
<%= button_to 'View all Weight Entries', weight_points_path, method: :get %>
<br>

<h4>Placeholder for BMI Info</h4>

<br>

<h4>Placeholder for Nutrition Info</h4>