
var foodContainer = $('#food_container');
var header = $('.modal-header h2');
var body = $('.modal-body');
var footer = $('.modal-footer');

function foodSearch(search){
  $.ajax({
    url: "https://api.nutritionix.com/v1_1/search/",
    method: 'POST',
    data: {
      appId: "<%= ENV['appId'] %>",
      appKey: "<%= ENV['appKey'] %>",
      query: search,
      fields: ['item_name', 'nf_calories', 'nf_total_fat', 'nf_total_carbohydrate', 'nf_protein']
    },
    success: function(data){
      // console.log(data);
      foodContainer.empty();
      $.each(data.hits, function(index, hash){
        // console.dir(hash.fields);
        var foodHash = hash.fields
        foodContainer.append('<div class="food_item">\
          <p class="food_name">'+foodHash.item_name+'</p>\
          <p class="nutrition"><span class="calories">Calories: '+foodHash.nf_calories+'</span> | <span class="fat">Total Fat: '+foodHash.nf_total_fat+'</span> | <span class="carbs">Total Carbs: '+foodHash.nf_total_carbohydrate+'</span> | <span class="protein">Protein: '+foodHash.nf_protein+'</span></p>\
          <button type="button" class="food_info">Select Food</button>\
          </div>');
      });
    }}
    );
}

$('.search').on('click', function(event){
  event.preventDefault();
  // console.log($('#food_name').val());
  var search = $('#food_name').val();
  foodSearch(search);
});
$('#food_name').keypress(function(event){
  if (event.which == 13){
    event.preventDefault();
    // console.log('enter was pressed');
    var search = $('#food_name').val();
    foodSearch(search);
  }
});

$('body').on('click','.food_info', function(){
  var food_item = $(this).parent().clone();
  var food_name = food_item[0];
  var food_nutrition = food_item[1]
  console.log(food_item);
  $('#myModal').addClass('visible');
  header.append(food_item.find('.food_name'));
  body.append(food_item.find('.calories'));
  body.append('<br><br>');
  body.append(food_item.find('.fat'));
  body.append('<br><br>');
  body.append(food_item.find('.carbs'));
  body.append('<br><br>');
  body.append(food_item.find('.protein'));
});
$('.close').on('click', function(){
  $('#myModal').removeClass('visible');
});
