
var foodContainer = $('#food_container')

function foodSearch(search){
  $.ajax({
    url: "https://api.nutritionix.com/v1_1/search/",
    method: 'POST',
    data: {
      appId: "<%= ENV['appId'] %>",
      appKey: "<%= ENV['appKey'] %>",
      query: search,
      fields: ['item_name', 'nf_calories', 'nf_total_fat', 'nf_total_carbohydrate', 'nf_protein'],
      limit: 50
    },
    success: function(data){
      // console.log(data);
      foodContainer.empty();
      $.each(data.hits, function(index, hash){
        // console.dir(hash.fields);
        var foodHash = hash.fields
        foodContainer.append('<div class="food_item">\
          <p>'+foodHash.item_name+'</p>\
          <p>Calories: '+foodHash.nf_calories+' | Total Fat: '+foodHash.nf_total_fat+' | Total Carbs: '+foodHash.nf_total_carbohydrate+' | Protein: '+foodHash.nf_protein+'</p>\
          <button type="button" class="food_info">Select Food</button>\
          </div>');
      });
    }}
    );
}

$('.search').on('click', function(event){
  event.preventDefault();
  // console.log($('#food_name').val());
  var search = $('#food_name').val();
  foodSearch(search);
});
$('#food_name').keypress(function(event){
  if (event.which == 13){
    event.preventDefault();
    // console.log('enter was pressed');
    var search = $('#food_name').val();
    foodSearch(search);
  }
});

$('body').on('click','.food_info', function(){
  // console.log($(this).parent());
  $('#myModal').addClass('visible');
  
});
$('.close').on('click', function(){
  $('#myModal').removeClass('visible');
});
